<div>
	{% if buildings|length > 0 %}
		<strong>Buildings:</strong>
		<small>Space capacity: X/Ym3 </small>
		<small>Weight capacity: X/Ykg </small>
		<ul>
			{% for deposit in buildings %}
				<li>
					{{ render(controller('AppBundle:ResourceDeposit:depositDetail', {
						'deposit': deposit.id,
					})) }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<small>There is nothing build.</small>
	{% endif %}
</div>
