<div>
	<strong>Available connections:</strong>
	<ul>
		{% for region in nearRegions %}
			<a href="{{ path('settlement_connect_regions', {
				'settlement': settlement.id,
				'peakC': region.peakCenter.id,
				'peakL': region.peakLeft.id,
				'peakR': region.peakRight.id }) }}">
				Connect with {{ region.name }}
			</a>,
		{% endfor %}
	</ul>
</div>
