{% extends 'Settlement/base.html.twig' %}

{% block subbody %}
	<strong>Housing:</strong>
	<dt>People:</dt>
	<dd>{{ people }}</dd>
	<dt>Food:</dt>
	<dd>{{ foodEnergy }}</dd>
	{% if houses|length > 0 %}
		<dt>Housing capacity:</dt>
		<dd>{{ housingCapacity }}</dd>
		<ul>
			{% for house in houses %}
				<li>
					{{ render(controller('AppBundle:ResourceDeposit:depositDetail', {
						'deposit': house.deposit.id,
					})) }}
				</li>
			{% endfor %}
		</ul>

	{% else %}
		<small>There is nothing to live.</small>
	{% endif %}
{% endblock %}