{% extends 'Settlement/base.html.twig' %}

{% block subbody %}
	{% if resources|length > 0 %}
		<strong>Warehouse content:</strong>
		<ul>
			{% for portableResource in resources %}
				<li>
					{{ render(controller('AppBundle:ResourceDeposit:depositDetail', {
						'deposit': portableResource.deposit.id,
					})) }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<small>There is nothing in warehouse.</small>
	{% endif %}
	{% if warehouses|length > 0 %}
		<strong>Warehouses</strong>
		<small>Space capacity: X/Ym3 </small>
		<small>Weight capacity: X/Ykg </small>
		<ul>
			{% for warehouse in warehouses %}
				<li>
					{{ render(controller('AppBundle:ResourceDeposit:depositDetail', {
						'deposit': warehouse.deposit.id,
					})) }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<small>There is no warehouses.</small>
	{% endif %}
{% endblock %}