<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block pagetitle %}Welcome!{% endblock %} :: Imperial Sandbox</title>
        <style type="text/css">
            html, body {
                padding: 0;
                margin: 0;
            }
            #header {
                height: 100px;
                background-color: #7DA0B1;
                padding: 10px;
            }
            #header h1 {
                margin-bottom: 0;
            }
            #header #game-title {
                position: relative;
                float: left;
            }
            #header #player-title {
                position: relative;
                float: right;
            }
            body #content {
                position: relative;
                float: left;
                padding: 15px;
                width: 1000px;
            }
            #right-panel {
                position: relative;
                width: 500px;
                float: right;
                border-width: 1px;
                border-color: #6c6159;
                background-color: #d1bfac;
            }

            #event-list {
                width: 100%;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <div id="game-title">
                <strong>Imperial sandbox</strong><br>
                <h1>{{ block('pagetitle') }}</h1>
                <small>{% block pagedescription %}{% endblock %}</small>
            </div>
            <div id="player-title">{% block playerinfo %}{% endblock %}</div>
            <div id="planet-info">{% block planetinfo %}{% endblock %}</div>
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="right-panel">
            <div id="event-list">{% block eventlist %}{% endblock %}</div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
