{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<ul>
			{% for gamer in gamers %}
				<li><a href="{{ path('gamer_login', {'username': gamer.name }) }}">{{ gamer.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}