<dt>Weight:</dt>
<dd>{{ adapter.weight }}</dd>
<dt>Weight per unit:</dt>
<dd>{{ adapter.weightPerUnit }}</dd>

<a href="{{ path('trade_make_offer_from_region', { 'deposit': adapter.deposit.id } ) }}">Sell</a><br/>