<div class="resource-deposit">
	<strong>{{ deposit.blueprint.description }}</strong>&times;{{ deposit.amount }}
	<table border="1">
		<tr>
			{% for name, adapter in adapters %}
				<td>
					<strong>{{ name }}</strong>
					{% if adapter is not null%}
						{{ render(controller('AppBundle:ResourceDeposit:adapterDetail', {
							'useCase': name,
							'deposit': adapter.deposit.id
						})) }}
					{% else %}
						<br/><small>Adapter missing</small>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	</table>
</div>
